language: android
jdk:
- oraclejdk8
android:
  components:
 - tools # to get the new `repository-11.xml`
 - tools # see https://github.com/travis-ci/travis-ci/issues/6040#issuecomment-219367943)
  - platform-tools
  - build-tools-24.0.3
  - android-24
  - extra-android-m2repository
  licenses:
    - 'android-sdk-preview-license-52d11cd2'
    - 'android-sdk-license-.+'
script:
- "./gradlew clean build --stacktrace"
branches:
  except:
  - gh-pages
notifications:
  email: false
sudo: false
cache:
  directories:
  - "$HOME/.m2"
  - "$HOME/.gradle"
